# Deny access to all .php files in the api directory except those explicitly allowed

<FilesMatch "^(?!(?:history|status|statistics|preview|headline|suggestions|logs)\.php$).*\.php$">
    Require all denied
</FilesMatch>

# Prevent directory listing
Options -Indexes

# Prevent access to hidden files
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

RewriteEngine On

# Prevent infinite rewrite loops by excluding requests that already include .php followed by any character
RewriteCond %{REQUEST_URI} !\.php[\?#]?.*$

# Rewrite /api/X to /api/X.php
RewriteRule ^api/([^/]+)$ api/$1.php [L]

# Set headers responses
<IfModule mod_headers.c>
    SetEnvIf Request_URI "^/api/" CORS_REQUEST
    Header set Access-Control-Allow-Origin "*" env=CORS_REQUEST
    Header set Access-Control-Allow-Methods "GET, POST, PATCH, OPTIONS" env=CORS_REQUEST
    Header set Access-Control-Allow-Headers "Content-Type, x-admin-key" env=CORS_REQUEST
    <FilesMatch "^headline\.php$">
        Header set Cache-Control "max-age=300, public"
    </FilesMatch>
    <FilesMatch "^(?:statistics|suggestions)\.php$">
        Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    </FilesMatch>
    <FilesMatch "^(?!(?:headline|statistics|suggestions)\.php$).*\.php$">
        Header set Cache-Control "max-age=60, public"
    </FilesMatch>
</IfModule>